MONGODB_URI=
JWT_SECRET=your-super-secret-jwt-key-here-min32-chars
FRONTEND_URL=http://localhost:5173
PORT=5000
EMAIL_USER=hillsmart2026@gmail.com
EMAIL_PASS=your-hjgs lvky giiv fdgv
CLOUDINARY_CLOUD_NAME=djtc5tw25
CLOUDINARY_API_KEY=739672618518424
CLOUDINARY_API_SECRET=FhuIjRHW9nqu4jyuPH6mQtIwYik

